<!doctype html>
{% block title%}
<!--<title>Métodos numéricos</title>-->
{% endblock %}

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='stylesheets/semantic.css') }}">
<script src="{{ url_for('static', filename='javascripts/chart.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/app.js') }}"></script>
<script src="{{ url_for('static', filename='javascripts/semantic.js') }}"></script>

{% block css %}{% endblock %}
{% block js %}{% endblock %}

{% block font %}{% endblock %}
<div class=page>
    <div class="ui top fixed menu">
      <div class="deploy link item">
        <i class="list layout icon"></i>
      </div>
    </div>

    <div class="ui left vertical inverted sidebar labeled icon menu">
      <a href="/" class="item">
        <i class="home icon"></i>
        Dashboard
      </a>
      <a href="{{ url_for('biseccion') }}" class="item">
        Método de la bisección
      </a>

    </div>

    <br>
    <br>
    <br>

    <div class="ui grid">
        <div class="two wide column"></div>
        <div class="twelve wide column">
            {% block body %}{% endblock %}
        </div>
        <div class="two wide column"></div>
    </div>
</div>