{% extends "app.html" %}
{% block title %}
    <title>Método de Diferencias Finitas</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" />
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='javascripts/diferencia_finita.js') }}"></script>
    <script type="text/javascript" src="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraphcore.js"></script>
{% endblock %}

{% block body %}
    <div class="ui grid">
        <div class="eight wide column">

            <form id="form" class="ui form">
                <div class="field">
                    <label for="equation">Expresión</label>
                    <input id="equation" name="equation" type="text">
                </div>
                <div class="field">
                    <label for="x">a</label>
                    <input id="x" name="x" type="text">
                </div>
                <div class="field">
                    <label for="error">b</label>
                    <input id="error" name="error" type="text">
                </div>
                <div class="field">
                    <label for="t">Resolver por: </label>
                    <select id="t" name="t" class="ui dropdown">
                        <option value="">Seleccione tipo</option>
                        <option value="0">Izquierda</option>
                        <option value="1">Central</option>
                        <option value="2">Derecha</option>
                    </select>
                </div>
              <div class="ui submit button">Submit</div>
              <div class="ui error message"></div>
            </form>
        </div>
        <div class="eight wide column">
            <div class="ui form">
                <div class="field">
                    <label>Solución</label>
                    <textarea id="solution" disabled></textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
