{% extends "app.html" %}
{% block title %}
    <title>Método de Simpson</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css" />
{% endblock %}

{% block js %}
    <script src="{{ url_for('static', filename='javascripts/simpson.js') }}"></script>
    <script type="text/javascript" src="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraphcore.js"></script>
{% endblock %}

{% block body %}
    <div class="ui grid">
        <div class="eight wide column">

            <form id="form" class="ui form">
                <div class="field">
                    <label for="equation">Expresión</label>
                    <input id="equation" name="equation" type="text">
                </div>
                <div class="field">
                    <label for="a">A</label>
                    <input id="a" name="a" type="text">
                </div>
                <div class="field">
                    <label for="b">B</label>
                    <input id="b" name="b" type="text">
                </div>
                <div id="octave" class="field">
                    <label for="n">N</label>
                    <input id="n" name="n" type="text" value="0">
                </div>
                <div class="field">
                    <label for="t">Resolver por: </label>
                    <select id="t" name="t" class="ui dropdown">
                        <option value="">Seleccione tipo</option>
                        <option value="0">Simple</option>
                        <option value="1">3/8</option>
                    </select>
                </div>
              <div class="ui submit button">Submit</div>
              <div class="ui error message"></div>
            </form>
        </div>
        <div class="eight wide column">
            <div class="ui form">
                <div class="field">
                    <label>Solución</label>
                    <textarea id="solution" disabled></textarea>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
